.LubalinGraphStd-DemiOblique {
	font-family: LubalinGraphStd-DemiOblique;
	font-weight: normal;
	font-style: normal;
}
.LubalinGraphStd-ExtraLight {
	font-family: LubalinGraphStd-ExtraLight;
	font-weight: normal;
	font-style: normal;
}
.LubalinGraphStd-ExtraLightObl {
	font-family: LubalinGraphStd-ExtraLightObl;
	font-weight: normal;
	font-style: normal;
}
.LubalinGraphStd-MediumOblique {
	font-family: LubalinGraphStd-MediumOblique;
	font-weight: normal;
	font-style: normal;
}
.LubalinGraphStd-Demi {
	font-family: LubalinGraphStd-Demi;
	font-weight: normal;
	font-style: normal;
}
.LubalinGraphStd-BoldOblique {
	font-family: LubalinGraphStd-BoldOblique;
	font-weight: normal;
	font-style: normal;
}
.LubalinGraphStd-Medium {
	font-family: LubalinGraphStd-Medium;
	font-weight: normal;
	font-style: normal;
}
.LubalinGraphStd-Bold {
	font-family: LubalinGraphStd-Bold;
	font-weight: normal;
	font-style: normal;
}
.LubalinGraphStd-BookOblique {
	font-family: LubalinGraphStd-BookOblique;
	font-weight: normal;
	font-style: normal;
}
.LubalinGraphStd-Book {
	font-family: LubalinGraphStd-Book;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans1-Black {
	font-family: HurmeGeometricSans1-Black;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans1-BlackObl {
	font-family: HurmeGeometricSans1-BlackObl;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans1-BoldObl {
	font-family: HurmeGeometricSans1-BoldObl;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans2-Black {
	font-family: HurmeGeometricSans2-Black;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans2-BoldObl {
	font-family: HurmeGeometricSans2-BoldObl;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans2-BlackObl {
	font-family: HurmeGeometricSans2-BlackObl;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans1-Bold {
	font-family: HurmeGeometricSans1-Bold;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans1-Hairline {
	font-family: HurmeGeometricSans1-Hairline;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans2-Bold {
	font-family: HurmeGeometricSans2-Bold;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans2-Hairline {
	font-family: HurmeGeometricSans2-Hairline;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans1-Thin {
	font-family: HurmeGeometricSans1-Thin;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans1-HairlineObl {
	font-family: HurmeGeometricSans1-HairlineObl;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans1-Light {
	font-family: HurmeGeometricSans1-Light;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans2-HairlineObl {
	font-family: HurmeGeometricSans2-HairlineObl;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans2-Light {
	font-family: HurmeGeometricSans2-Light;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans1-Regular {
	font-family: HurmeGeometricSans1-Regular;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans1-SemiBold {
	font-family: HurmeGeometricSans1-SemiBold;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans1-ThinObl {
	font-family: HurmeGeometricSans1-ThinObl;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans1-LightObl {
	font-family: HurmeGeometricSans1-LightObl;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans2-LightObl {
	font-family: HurmeGeometricSans2-LightObl;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans1-RegularObl {
	font-family: HurmeGeometricSans1-RegularObl;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans1-SemiBoldObl {
	font-family: HurmeGeometricSans1-SemiBoldObl;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans2-Thin {
	font-family: HurmeGeometricSans2-Thin;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans2-Regular {
	font-family: HurmeGeometricSans2-Regular;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans2-SemiBold {
	font-family: HurmeGeometricSans2-SemiBold;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans2-ThinObl {
	font-family: HurmeGeometricSans2-ThinObl;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans2-RegularObl {
	font-family: HurmeGeometricSans2-RegularObl;
	font-weight: normal;
	font-style: normal;
}
.HurmeGeometricSans2-SemiBoldObl {
	font-family: HurmeGeometricSans2-SemiBoldObl;
	font-weight: normal;
	font-style: normal;
}
